.gygnn { 
  line-height: 59px;
  border-top-width: 16px;
  padding-top: 30px;
  padding-left: 42px;
  padding-right: 14px;
  padding-top: 14px;
  margin-bottom: 2px;
  padding-left: 81px;
  border-left-width: 73px;
  padding-top: 23px;
  border-top-width: 42px;
  border-top-width: 15px;
  padding-bottom: 97px;
  padding-left: 94px;
  padding-top: 37px;
  padding-top: 0px;
}
