.lyhva { 
  border-top-width: 59px;
  border-right-width: 22px;
  border-top-width: 44px;
  padding-bottom: 73px;
  border-right-width: 99px;
  border-bottom-width: 89px;
  padding-left: 14px;
  border-top-width: 70px;
  border-left-width: 4px;
  font-size: 13px;
  border-bottom-width: 26px;
  font-size: 76px;
  padding-left: 98px;
  border-left-width: 10px;
  margin-right: 98px;
  padding-left: 80px;
  border-right-width: 51px;
  line-height: 22px;
  padding-top: 45px;
}
