.lyhva { 
  border-top-width: 59px;
  border-right-width: 22px;
  border-top-width: 44px;
  padding-bottom: 73px;
  border-right-width: 99px;
  border-bottom-width: 89px;
  padding-left: 14px;
  border-top-width: 70px;
  border-left-width: 4px;
  font-size: 13px;
  border-bottom-width: 26px;
  font-size: 76px;
  padding-left: 98px;
  border-left-width: 10px;
  margin-right: 98px;
  padding-left: 80px;
  border-right-width: 51px;
  line-height: 22px;
  padding-top: 55px;
  border-top-width: 93px;
  padding-right: 88px;
  padding-top: 14px;
  line-height: 70px;
  padding-bottom: 66px;
  margin-bottom: 89px;
  line-height: 62px;
  padding-top: 74px;
  margin-left: 28px;
  padding-bottom: 17px;
  margin-right: 51px;
  line-height: 39px;
  margin-right: 35px;
  border-top-width: 85px;
  padding-right: 90px;
}
