.skwsb { 
  border-right-width: 80px;
  border-top-width: 73px;
  margin-left: 65px;
  padding-top: 62px;
  border-right-width: 46px;
  line-height: 21px;
  border-top-width: 18px;
  margin-bottom: 96px;
}
