.pvpah { 
  padding-left: 86px;
  margin-bottom: 90px;
  font-size: 55px;
  margin-right: 65px;
  margin-right: 31px;
  border-bottom-width: 68px;
  border-bottom-width: 32px;
  margin-left: 55px;
  padding-left: 77px;
  line-height: 8px;
  margin-bottom: 26px;
  padding-top: 52px;
  padding-left: 32px;
  margin-top: 94px;
  border-left-width: 68px;
  padding-bottom: 8px;
  border-left-width: 67px;
  padding-right: 96px;
  padding-top: 44px;
  font-size: 15px;
  border-right-width: 93px;
  padding-top: 94px;
  border-right-width: 38px;
}
